body, .list-group-item {
  height: 100%;
  background-color: #1f1f1f;
  color: white;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/9182.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.customNav {
  background-color: rgba(0, 0, 0, 0.0); 
}

.frontText {
  font-size: 40px;
}

.frontBtn {
  font-size: 30px;
  background-color: #696bff;
  border: none;
  border-radius: 13px;
  padding: .4rem 2rem;
}

.logoBar {
  display: flex;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.nav-bar {
  max-height: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
}

.nav-links, li{
  color: white;
  min-height: 50px;
  max-height: 50px;
  font-size: 1rem;
  display: flex;
  list-style: none;
  position: relative;
  padding: 0px 50px;
  cursor: pointer;
}

.loginBtn {
  border: none;
  color: white;
  padding: .4rem 2rem;
  border-radius: 1rem;
  margin-right: 2rem;
  background: #696bff;

}

.itemCard {
  display: inline;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-left: 40px;
  margin-right: 40px;
  padding: 2px 16px;
  text-align: center;
  background-color: grey;
}

.card-title {
  color: black;
}

.cardImg, .itemCard {
  float: left;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Sidebar Nav Styles */
.controls {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: white;
  background: rgba(75, 69, 69, 0.7);
}

.sidebar-nav {
  position: relative;
  flex: 1;
  width: 200px;
}
