body {
  height: 100%;
  background-color: #1f1f1f;
  color: white;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/9182.jpg");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 4px solid #333;
}

.logoBar {
  display: flex;
}

/* .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} */

.nav-bar {
  max-height: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
}

.nav-links, li{
  color: white;
  min-height: 50px;
  max-height: 50px;
  font-size: 20px;
  display: flex;
  list-style: none;
  position: relative;
  padding: 0px 50px;
}

.itemCard {
  display: inline;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-left: 40px;
  margin-right: 40px;
  padding: 2px 16px;
  text-align: center;
  background-color: grey;
}

.cardImg, .itemCard {
  float: left;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
